* {
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}
div {
	margin: 0 auto;
	max-width: 794px;
}
.header {
	height: 80px;
	width: 100%;
	line-height: 80px;
	text-align: center;
	border: 1px dashed #000;
	border-bottom: none;
}
.basicInfo {
	min-height: 240px;
	width: 100%;
	border: 1px solid #000;
}
.basicInfo .left {
	float: left;
	width: 630px;
	padding-left: 8px;
	text-align: left;
}
form input {
	display: inline-block;
	margin: 15px 4px;
	width: 150px;
	height: 25px;
	border: none;
	border-bottom: 1px solid #000;
	text-align: center;
	vertical-align: middle;
	text-decoration: none;
}
.basicInfo .right {
	float: right;
	width: 150px;
	padding-right: 6px;
	text-align: right;
}
.basicInfo .left:after,
.basicInfo .right:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
}
.basicInfo .left,
.basicInfo .right {
	zoom: 1;
}
.basicInfo .right img {
	margin-top: 20px;
	height: 200px;
	width: 150px;
}
p {
	font-size: 24px;
	font-weight: 700;
	color: #000;
	padding-left: 10px;
}
.eduBack,.projectBack,.socialAct {
	min-height: 200px;
	width: 100%;
	border: 1px solid #000;
	border-top: none;
}
textarea {
	min-height: 180px;
	width: 100%;
	border: none;
	resize: none;
	font-size: 18px;
	color: #000;
}
::placeholder {
	padding-left: 10px;
	font-size: 14px;
}
.person-skill {
	min-height: 160px;
	width: 100%;
	border: 1px solid #000;
	border-top: none;
}
.footer {
	width: 100%;
	min-height: 23px;
	border: 1px solid #000;
	border-top: none;
	text-align: center;
	line-height: 23px;
	font-size: 18px;
	color: #abc;
}
.footer a {
	text-decoration: none;
	color: #abc;
}
